/* Skeleton Animation */
.skeleton-animate {
    animation: skeleton-loading 1.5s infinite alternate;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: #20233b;
    }
    100% {
      background-color: #0b1535;
    }
  }
  