.fade-enter {
    opacity: 0;
    max-height: 0;
}

.fade-enter-active {
    opacity: 1;
    max-height: 100px; /* Adjust according to the expected height */
    transition: opacity 300ms ease-in-out, max-height 300ms ease-in-out;
}

.fade-exit {
    opacity: 1;
    max-height: 100px;
}

.fade-exit-active {
    opacity: 0;
    max-height: 0;
    transition: opacity 300ms ease-in-out, max-height 300ms ease-in-out;
}
